*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner{
display: flex;
}
.banner img{
  width: 500px;
}
.phone{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.phone button{
 width: 100px;
 height: 35px;
 margin-top: 10px;
 background-color: rgba(30, 143, 255, 0.159);
 color: blue;
 border: none;
 border-radius: 5px;
}
.mark{
  display: flex;
  gap: 30px;
  margin-top: 15px
}
.price p,h2{
  margin-top: 15px;
  margin-bottom: 20px;
}
.followers{
  display: flex;
 
}
.followers img{
  width: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid grey;
  margin-bottom: 20px;
}
.person-2{
  position: absolute;
 right: 15px;
}
.person-3{
  position: absolute;
  right: 35px;
 }
 .person-4{
  position: absolute;
  right: 50px;
 }
 .buy-btn{
 width: 200px;
 height: 30px;
 border-radius: 5px;
 background-color: dodgerblue;
 color: white;
 border: none;
 }
.add-btn{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(30, 143, 255, 0.159);
  color: blue;
  border: none;
}
